.boxed label {
  display: inline-block;
  width: auto;
  padding: 5px 10px;
  border: solid 1px #ccc;
  transition: all 0.3s;
  border-radius: 5px;
}

.boxed input[type="radio"] {
  display: none;
}

.boxed input[type="radio"]:checked + label {
  border: solid 2px green;
}

.disabled {
    background-color: red;
    color: #fff;
}

.row {
    margin-bottom: 1rem;
}