<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css"
          rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.1/css/mdb.min.css" rel="stylesheet">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.0.10/font-awesome-animation.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>

<body>
<div class="container">
    <div class="row">
        <form action="/" th:object="${information}" id="form1" method="post" style="display: contents;" class="boxed">
            <div class="col-6">
                <div class="mt-5">
                    <p>ФИО</p>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Иванов Иван Иванович"
                           pattern="^[А-Яа-яЁё\s]+$" required>
                </div>

                <div class="mt-5">
                    <p>Телефон</p>
                    <input type="tel" class="form-control" id="phone" name="phone" placeholder="1111"
                           pattern="^\d{3,5}$" required>
                </div>

                <div class="mt-5">
                    <p>Почта</p>
                    <input type="email" class="form-control" id="mail" name="mail" placeholder="mail@szemospb.ru"
                           required>
                </div>

                <div class="mt-5">
                    <p>Номер авто</p>
                    <input type="text" class="form-control" id="carNumber" name="carNumber" placeholder="х777хх77"
                           pattern="^[А-Яа-яЁё]\d{3}[А-Яа-яЁё]{2}\d{2,3}$" required>
                </div>

                <button type="submit" class="btn btn-primary">Отправить</button>
            </div>

            <div class="col-6">
                <p class="mt-5">Свободная дата и время</p>
                <div class="row">
                    <!-- this day -->
                    <div class="col-4" th:each="day : ${daysToday}">
                        <div th:each="time : ${timeToday}">
                            <input type="radio" th:id="${day}+${time}" name="time" th:value="${day}+'T'+${time}"
                                   required>
                            <label th:for="${day}+${time}" th:text="${day} + ' в ' + ${time}">пт 31.10 10:00</label>
                        </div>
                    </div>

                    <div class="col-4" th:each="day : ${daysTomorrow}">
                        <div th:each="time : ${timeTomorrow}">
                            <input type="radio" th:id="${day}+${time}" name="time" th:value="${day}+'T'+${time}"
                                   required>
                            <label th:for="${day}+${time}" th:text="${day} + ' в ' + ${time}">пт 31.10 10:00</label>
                        </div>
                    </div>

                    <div class="col-4" th:each="day : ${daysNext}">
                        <div th:each="time : ${timeNext}">
                            <input type="radio" th:id="${day}+${time}" name="time" th:value="${day}+'T'+${time}"
                                   required>
                            <label th:for="${day}+${time}" th:text="${day} + ' в ' + ${time}">пт 31.10 10:00</label>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>